.navbar {
  padding: 5px;
  margin: 0;
}
body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}
#demo {
  color: #34ebcf;
}
#box {
  position: right;
}

.btn{
  font-size:  25px;
}
